<ion-header [translucent]="true">
  <ion-row>

    <ion-col col="3">
      <ion-toolbar>
        <ion-title>Cartão Credito</ion-title>
      </ion-toolbar>
    </ion-col>

    <ion-col col="3">
      <ion-button (click)="novo()"> Novo </ion-button>
    </ion-col>

    <ion-col col="9">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-searchbar animated (ionChange)="busca( $event )">
      </ion-searchbar>
    </ion-col>

  </ion-row>
</ion-header>

<ion-content>



  <ion-list>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-label>Dia Fechamento</ion-label>
      <ion-label>Dia Vencimento</ion-label>
      <ion-label>Limite Cartão</ion-label>
      <ion-label>Status</ion-label>
    </ion-item>

   <ion-item-sliding *ngFor="let cartao of cartao | filtrozz: textoBuscar: 'nomCartao'">
   <!-- <ion-item-sliding *ngFor="let conta of contas "> -->
      <ion-item>
        <ion-label>{{cartao.nomCartao}}</ion-label>
        <ion-label>{{cartao.diaFechamento}}</ion-label>
        <ion-label>{{cartao.diaVencimento}}</ion-label>
        <ion-label>{{cartao.limiteCartaoCred}}</ion-label>
        <ion-label>{{cartao.status}}</ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option [routerLink]="['edit', cartao.id]">
          <ion-icon slot="icon-only" name="create" color="secondary"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="delete(cartao)">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
     </ion-item-sliding>
  </ion-list>



</ion-content>
