<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col col="9">
      <ion-card>

        <form (ngSubmit)="save()">
          <ion-row>

            <ion-col>
              <ion-avatar>
                <img class="img" [src]="perfil.img" />
              </ion-avatar>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label position="stacked">Nome</ion-label>
                <ion-input autocapitalize="on" [(ngModel)]="perfil.nome" name="nome"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input autocapitalize="on" [(ngModel)]="perfil.email" name="email"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">CPF</ion-label>
                <ion-input autocapitalize="on" [(ngModel)]="perfil.cpf" name="cpf"></ion-input>
              </ion-item>

              <div class="ion-margin-vertical">
                <ion-button type="submit" color="secondary" expand="block">ATUALIZAR DADOS</ion-button>
              </div>

            </ion-col>
          </ion-row>



        </form>

      </ion-card>
    </ion-col>
    <ion-col col="3">

      <ion-card>
        <form (ngSubmit)="showTabelaPreco()">

          <ion-row>
            <ion-col>
              <p>Seu plano</p>

              <ion-avatar>
                <img class="img" src="..\assets\fotoPessoa.jpeg" />
              </ion-avatar>

              <p>Trial (30) Dias</p>
              <br>
              <p>Aproveite o máximo da nossa </p><br>
              <p>solução, assine já e garanta uma </p><br>
              <p>experiencia completa</p><br>
            </ion-col>
            <ion-col>
              <ion-avatar>
                <img class="img" src="..\assets\fotoPessoa.jpeg" />
              </ion-avatar>
            </ion-col>
          </ion-row>

          <div class="ion-margin-vertical">
            <ion-button type="submit" color="secondary" expand="block">SEJA PREMIUM</ion-button>
          </div>
        </form>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>
