<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Transacões</ion-title>
  </ion-toolbar>

  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>

  <ion-searchbar animated
              (ionChange) = "busca( $event )">
  </ion-searchbar>
</ion-header>

<ion-content>



  <ion-list>
    <ion-item>
      <ion-label>Data</ion-label>
      <ion-label>Descricao</ion-label>
      <ion-label>Categoria</ion-label>
      <ion-label>Conta</ion-label>
      <ion-label>Valor</ion-label>
    </ion-item>

    <ion-item-sliding  *ngFor="let transacao of transacoes | filtrozz: textoBuscar: 'descricao'">
      <ion-item>
        <ion-label>{{transacao.data}}</ion-label>
        <ion-label>{{transacao.descricao}}</ion-label>
        <ion-label>{{transacao.categoria}}</ion-label>
        <ion-label>{{transacao.conta}}</ion-label>
        <ion-label>{{transacao.valor}}</ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option [routerLink]="['edit', transacao.id]">
          <ion-icon slot="icon-only" name="create" color="secondary"></ion-icon>
        </ion-item-option>
       <!--<ion-item-option (click)="delete(transacoes)">-->
        <ion-item-option>
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



</ion-content>
