<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="save()">
    <ion-item>
      <ion-label position="stacked">Id</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="conta.id" name="id"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="conta.nome" name="data"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Instituição</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="conta.instituicao" name="descricao"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Finalidade</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="conta.finalidade" name="conta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Saldo Inicial</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="conta.saldoInicial" name="valor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="conta.status" name="categoria"></ion-input>
    </ion-item>
    <div class="ion-margin-vertical">
      <ion-button type="submit" color="secondary" expand="block">Salvar</ion-button>
      <ion-button (click)="cancel()" color="secondary" expand="block">Cancelar</ion-button>
    </div>

    </form>
</ion-content>
