<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Seja Premium</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-text> Preço com flexibilidade para cada necessidade </ion-text>
  <br>
  <ion-text>Aproveite o máximo da nossa solução, assine já e garanta uma experiencia completa. </ion-text>
  <br>
  <ion-text>Cobrança Mensal <ion-toggle></ion-toggle>  Cobrança Anual </ion-text>
  <br>
  <ion-row>
    <ion-col col="4">
      <ion-card>
        <ion-title>Gratís</ion-title>
        <br>
        <ion-text>Explore as ferramentas básicas</ion-text>
        <br>
        <ion-button expand="block" fill="outline" >
          <ion-text>PLANO ATUAL</ion-text>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col col="4">
      <ion-card>
        <ion-title>Profissional</ion-title>
        <br>
        <ion-text>Explore as ferramentas básicas</ion-text>
        <br>
        <ion-button expand="block" fill="outline" >
          <ion-text>ASSINAR PLANO</ion-text>
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col col="4">
    <ion-card>
      <ion-title>Organizacional</ion-title>     
        <br>
        <ion-text>Explore as ferramentas básicas</ion-text>
        <br>
        <ion-button expand="block" fill="outline" >
          <ion-text>ASSINAR PLANO</ion-text>
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
<ion-row>
 <ion-col>
    <ion-card>
      <ion-text>0</ion-text> <br>
      <ion-text>Por mês</ion-text> <br>
      <ion-text>Grátis inclui</ion-text> <br>
      <ion-text> <ion-icon name="cart-outline"></ion-icon> Explore as ferramentas básicas</ion-text> <br>
      <ion-text> <ion-icon name="happy-outline"></ion-icon>Explore as ferramentas básicas</ion-text> <br>
      <ion-text> <ion-icon name="chevron-down-circle-outline"></ion-icon>Explore as ferramentas básicas</ion-text> <br>
      <ion-text> <ion-icon name="storefront-outline"></ion-icon>Explore as ferramentas básicas </ion-text> <br>
    </ion-card>
   </ion-col>
   <ion-col>
    <ion-card>
      <ion-text>125</ion-text> <br>
      <ion-text>Por mês</ion-text> <br>
      <ion-text>Grátis inclui</ion-text> <br>
      <ion-text> <ion-icon name="cart-outline"></ion-icon> Explore as ferramentas básicas</ion-text> <br>
      <ion-text> <ion-icon name="happy-outline"></ion-icon>Explore as ferramentas básicas</ion-text> <br>
      <ion-text> <ion-icon name="chevron-down-circle-outline"></ion-icon>Explore as ferramentas básicas</ion-text> <br>
      <ion-text> <ion-icon name="storefront-outline"></ion-icon>Explore as ferramentas básicas </ion-text> <br>
    </ion-card>
  </ion-col>
  <ion-col>
    <ion-card>
      <ion-text>325</ion-text> <br>
      <ion-text>Por mês</ion-text> <br>
      <ion-text>Grátis inclui</ion-text> <br>
      <ion-text> <ion-icon name="cart-outline"></ion-icon> Explore as ferramentas básicas</ion-text> <br>
      <ion-text> <ion-icon name="happy-outline"></ion-icon>Explore as ferramentas básicas</ion-text> <br>
      <ion-text> <ion-icon name="chevron-down-circle-outline"></ion-icon>Explore as ferramentas básicas</ion-text> <br>
      <ion-text> <ion-icon name="storefront-outline"></ion-icon>Explore as ferramentas básicas </ion-text> <br>
    </ion-card>
  </ion-col>
</ion-row>

</ion-content>
